.wufoo
{
	font-family:"Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
	letter-spacing:.01em;
}

.wufoo li
{
	width:64%;
}

.info
{
	display:inline-block;
	clear:both;
	margin:0 0 5px 0;
	padding:0 1% 1.1em 1%;
	border-bottom:1px dotted #ccc;
}

.info[class]
{
	display:block;
}

.hideHeader .info,#payment.hideHeader li.first
{
	display:none;
}

.info h2
{
	font-weight:normal;
	font-size:160%;
	margin:0 0 5px 0;
	clear:left;
}

h2
{
	text-align: center;
}

.info div
{
	font-size:95%;
	line-height:135%;
	color:#555;
}

form ul
{
	margin:0;
	padding:0;
	list-style-type:none;
}

* html form ul
{
	width:99%;
	zoom:1;
}

form li
{
	margin:0;
	padding:6px 1% 9px 1%;
	clear:both;
	background-color:transparent;
	position:relative;
	-webkit-transition:background-color 350ms ease-out;
	-moz-transition:background-color 350ms ease-out;
	-o-transition:background-color 350ms ease-out;
	transition:background-color 350ms ease-out;
}

form ul:after,form li:after,form li div:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

* html form li
{
	height:1%;
	margin-bottom:-3px;
}

* + html form li
{
	height:1%;
	margin-bottom:-3px;
}

* html form li div
{
	display:inline-block;
}

* + html form ul,* + html form li div
{
	display:inline-block;
}

form li div
{
	margin:0;
	padding:0;
	color:#444;
}

form li span
{
	margin:0 .3em 0 0;
	padding:0;
	float:left;
	color:#444;
}

form li div span
{
	margin:0;
	display:block;
	width:100%;
	float:left;
}

form li.complex
{
	padding-bottom:0;
}

form li.complex div span
{
	width:auto;
	margin:0 .3em 0 0;
	padding-bottom:12px;
}

form li.complex div span.full
{
	margin:0;
}

form li.complex div span.left,form li.complex div span.
{
	margin:0;
	width:48%;
}

form li.complex div span.full input,form li.complex div span.full select,form li.complex div span.left input,form li.complex div span.right input,form li.complex div span.left select,form li.complex div span.right select
{
	width:100%;
}

.left
{
	float:left;
}

.right
{
	float:right;
}

label span,.section span,p span,.likert span
{
	display:inline !important;
	float:none !important;
}

form li div label,form li span label
{
	margin:0;
	padding-top:3px;
	clear:both;
	font-size:85%;
	line-height:160%;
	color:#444;
	display:block;
}

fieldset
{
	display:block;
	border:none;
	margin:0;
	padding:0;
}

label.desc,legend.desc, div.desc
{
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0;
	padding:0 0 3px 0;
	border:none;
	display:block;
	white-space:normal;
	width:100%;
}

label.knownCheckBox
{
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0 0 0 20px;
	padding:0 5px 0 0;
	border:none;
	white-space:normal;
	width:100%;
}

form.rightLabel .desc
{
	padding-top:2px;
}

span.symbol
{
	font-size:120%;
	line-height:135%;
}

form li div label var
{
	font-weight:bold;
	font-style:normal;
}

input.text,input.search,input.file,textarea.textarea,select.select
{
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	font-size:100%;
	color:#333;
	margin:0;
	padding:2px 0;
}

input.text,input.search,textarea.textarea
{
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url(../images/fieldbg.gif) repeat-x top;
}

input.nospin::-webkit-inner-spin-button,input.nospin::-webkit-outer-spin-button
{
	-webkit-appearance:none;
	margin:0;
}

select.select
{
	padding:1px 0 0 0;
}

input.search
{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding-left:6px;
}

input.checkbox,input.radio
{
	display:block;
	margin:4px 0 0 0;
	padding:0;
	width:13px;
	height:13px;
}

input.other
{
	margin:0 0 8px 25px;
}

.safari select.select
{
	font-size:120% !important;
	margin:0 0 1px 0;
}

* html select.select
{
	margin:1px 0;
}

* + html select.select
{
	margin:1px 0;
}

.center,form li span.center input.text,form li span.center label,form li.name span label,form li.date input.text,form li.date span label,form li.phone input.text,form li.phone span label,form li.time input.text,form li.time span label
{
	text-align:center;
}

form li.time select.select
{
	margin-left:5px;
}

form li.price .right
{
	text-align:right;
}

#mdph
{
	position:relative;width:150px;float:left;
}

#mdph input
{
	position:absolute;right:1px;
}

#mdph input.text {position:absolute;left:50px;}

#foli33
{
	bottom: 155px;
	left: 95px;
}

#foli34
{
	bottom: 219px;
	left: 600px;
}

#Field25, #Field26, #Field27, #Field28, #Field29, #Field30
{
	margin:4px;
}

#Field31, #Field32, #Field33, #Field34, #Field35, #Field36
{
	margin:9.5px;
}

#title34
{
	margin-bottom: 0px;
}

#enCours
{
	margin-left: 17px;
}

#foli30
{
	top:72px;
	right: 160px;
}

#Field21, #Field22, #Field23, #Field24
{
	margin:5px;
}

.third
{
	width:32% !important;
}

.half
{
	width:48% !important;
}

.full
{
	width:100% !important;
}

input.small,select.small
{
	width:25%;
}

input.medium,select.medium
{
	width:50%;
}

input.medium,select.med
{
	width:50%;
}

input.large,select.large
{
	width:100%;
}

textarea.textarea
{
	width:500px;
}

textarea.small
{
	height:4.5em;
}

textarea.medium
{
	height:10em;
}

textarea.large
{
	height:20em;
}

form li.buttons
{
	width:auto !important;
	position:relative;
	clear:both;
	padding:10px 1% 10px 1%;
}

form li.buttons input
{
	font-size:100%;
	margin-right:5px;
}

input.btTxt
{
	padding:0 7px;
	width:auto;
	overflow:visible;
}

.safari input.btTxt
{
	font-size:120%;
}

.leftLabel li,.rightLabel li
{
	width:74% !important;
	padding-top:9px;
}

.leftLabel .desc,.rightLabel .desc
{
	float:left;
	width:31%;
	margin:0 15px 0 0;
}

.rightLabel .desc
{
	text-align:right;
}

.leftLabel li div,.rightLabel li div
{
	float:left;
	width:65%;
}

* html .leftLabel li fieldset div,* html .rightLabel li fieldset div
{
	float:right;
}

* + html .leftLabel li fieldset div,* + html .rightLabel li fieldset div
{
	float:right;
}

.leftLabel .buttons,.rightLabel .buttons
{
	padding-left:23%;
}

.leftLabel .buttons div,.rightLabel .buttons div
{
	float:none;
	margin:0 0 0 20px;
}

.leftLabel p.instruct,.rightLabel p.instruct
{
	width:28%;
	margin-left:5px;
}

.leftLabel .altInstruct .instruct,.rightLabel .altInstruct .instruct
{
	margin-left:31% !important;
	padding-left:15px;
	width:65%;
}

.noI form li,.altInstruct form li
{
	width:auto !important;
}

.noI .leftLabel .buttons,.noI .rightLabel .buttons
{
	padding-left:31%;
}

.noI .leftLabel .buttons div,.noI .rightLabel .buttons div
{
	margin:0 0 0 17px;
}

form li.leftHalf,form li.rightHalf
{
	width:47% !important;
}

form li.leftThird,form li.middleThird,form li.rightThird
{
	width:30% !important;
}

form li.leftFourth,form li.middleFourth,form li.rightFourth
{
	width:23% !important;
	width:22% !important;
}

form li.leftFifth,form li.middleFifth,form li.rightFifth
{
	width:18% !important;
	width:17% !important;
}

form li.middleThird
{
	clear:none !important;
	float:left;
	margin-left:2% !important;
}

form li.leftFourth,form li.middleFourth,form li.leftFifth,form li.middleFifth
{
	clear:none !important;
	float:left;
}

form li.rightHalf,form li.rightThird,form li.rightFourth,form li.rightFifth
{
	clear:none !important;
	float:right;
}

li.leftHalf .small,li.rightHalf .small,li.leftHalf .medium,li.rightHalf .medium,li.leftThird .small,li.middleThird .small,li.rightThird .small,li.leftThird .medium,li.middleThird .medium,li.rightThird .medium,li.leftFourth .medium,li.middleFourth .medium,li.rightFourth .medium,li.leftFourth .small,li.middleFourth .small,li.rightFourth .small,li.leftFifth .medium,li.middleFifth .medium,li.rightFifth .medium,li.leftFifth .small,li.middleFifth .small,li.rightFifth .small
{
	width:70% !important;
}

#ChildOrNot
{
	padding: 20px 0 0 0;
}

#FragSociale
{
	padding: 15px 0 0 0;
}

#FamilyName
{
	padding: 20px 0 0 0;
}

form li.leftHalf,form li.leftThird,form li.leftFourth,form li.leftFifth
{
	clear:left !important;
	float:left;
}

* html form li.middleFourth
{
	margin-left:1% !important;
}

* html form li.middleFifth
{
	margin-left:1% !important;
}

form li.section
{
	clear:both;
	margin:0;
	padding:7px 0 0 0;
	width:auto !important;
	position:static;
}

form li.section h3
{
	font-weight:normal;
	font-size:110%;
	line-height:135%;
	margin:0 0 3px 0;
	width:auto;
	padding:12px 1% 0 1%;
	border-top:1px dotted #ccc;
}

form li.first
{
	padding:0;
}

form li.first h3
{
	padding:8px 1% 0 1%;
	border-top:none !important;
}

form li.section div
{
	display:block;
	width:auto;
	float:none;
	font-size:85%;
	line-height:160%;
	margin:0 0 1em 0;
	padding:0 1% 0 1%;
}

* + html #recaptcha_area,* + html #recaptcha_table
{
	min-width:450px !important;
}

* html #recaptcha_area,* html #recaptcha_table
{
	width:450px !important;
}

#recaptcha_widget_div table
{
	background:#fff;
}

form li.captcha .noscript iframe
{
	border:none;
	overflow:hidden;
	margin:0;
	padding:0;
}

form li.captcha .noscript label.desc
{
	display:block !important;
}

form li.captcha .noscript textarea
{
	margin-left:12px;
}

iframe[src="about:blank"]
{
	display:none;
}